<p>pipes works!</p>

<h5>Criando pipes</h5>

<p>Título livro: {{livro.titulo | camelCase }}</p>
<p>Nota: {{livro.rating | number:'1.1-2' }}</p>
<p>Preço: {{livro.preco | currency:'BRL':true }}</p>
<p>Páginas: {{livro.numeroPaginas | number }}</p>
<p>Data de Lançamento: {{livro.dataLancamento | date }}</p>
<p>Link: {{livro.url}}></p>
<p>Livro: {{livro | json}}</p>





<h5>Maneira correta de usar filtro nos projetos</h5>


  
<ul>
    <li *ngFor="let liv of obterCursos()">{{ liv }}</li>
</ul>

<p>{{ valorAsync | async }}</p>