

<nav *ngIf="mostrarMenu">
    <div class="nav-wrapper amber">
      <a routerLink="" routerLink="" class="brand-logo right black-text">
        <i class="medium material-icons">router</i> Rotas Ng2
      </a>
     
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li routerLinkActive="active"><a class="black-text" routerLink="/cursos" [queryParams]="{pagina:1}">Cursos</a></li>
       <li routerLinkActive="active"><a class="black-text" routerLink="/login">Login</a></li>
       <li routerLinkActive="active"><a class="black-text" routerLink="/alunos">Alunos</a></li>
      
      </ul>
    
    </div>
  </nav>
  

<div class="container">
  <app-login></app-login>
  <router-outlet></router-outlet>

</div>